body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

canvas {
	display: block;
	background: black;
}

#chrono {
	position: absolute;
	right: 0px;
	top: 0px;
	color: white;
	background-color: black;
	padding: 10px;
	font-size: 3vmin;
	font-family: 'Courier New', Courier, monospace;
}

.loadingIcon {
	position: absolute;
	left: 0px;
	top: 0px;
	font-style: italic;
	color: white;
	background-color: black;
	padding: 10px;
	font-size: 2vmin;
	font-family: 'Courier New', Courier, monospace;
}


.entry {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: #fff2;
	border: 2px solid white;
	color: white;
}

.entry.high {
	background-color: #fff4;
}

#mobileEntry-left {
	left: 40px;
	bottom: 40px;
}

#mobileEntry-right {
	left: 110px;
	bottom: 40px;
}

#mobileEntry-up {
	right: 40px;
	bottom: 110px;
}

#mobileEntry-down {
	right: 40px;
	bottom: 40px;
}

#mobileEntry-special,
#mobileEntry-specialContainer .entry {
	width: auto;
	height: auto;
	font-size: 15px;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid white;
}

#mobileEntry-special {
	left: 5px;
	top: 5px;
}

#mobileEntry-specialContainer {
	font-style: italic;
}

#mobileEntry-special-enter {
	left: 10px;
	top: 30px;
}

#mobileEntry-special-debug {
	left: 10px;
	top: 50px;
}


#loadingGame {
	position: absolute;
	z-index: 10;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	color: white;
	background-color: #321;
	font-size: 5vw;

	display: grid;
	place-items: center;
}

.hidden {
	display: none;
}

#levelName {
	position: absolute;
	top: 20%;
	left: 50%;
	white-space: nowrap;
	text-align: center;
	transform: translate(0, -50%) scale(1);
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 9vmin;
	text-decoration: underline;

	opacity: 0;
}


#levelName.shown {
	animation: levelNameAnim 2.5s;
}

@keyframes levelNameAnim {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(1.0);
	}
	
	15% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1.2);
	}
	
	70% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1.3);
	}
	
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(2.2);

	}
}

#fps {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	color: green;
	background-color: #000a;
	font-family: 'Courier New', Courier, monospace;
}







#netLevelSelector * {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

#netLevelSelector {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

/* Overlay style */
#netLevelSelector .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Box style */
#netLevelSelector .selectorBox {
	background-color: #1e1e1e;
	padding: 20px;
	border-radius: 12px;
	color: #fff;
	min-width: 300px;
	max-width: 90%;
	max-height: 80%;
	overflow-y: auto;
}

#netLevelSelector h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.4em;
	text-align: center;
}

#netLevelSelector button {
	display: block;
	width: 100%;
	margin: 5px 0;
	padding: 10px;
	font-size: 1em;
	color: #fff;
	background-color: #444;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.2s;
}

#netLevelSelector button:hover {
	background-color: #666;
}
